@mixin card($height, $width, $backColor) {
    height: $height;
    width: $width;
    background-color: $backColor;
    border-radius: 5px;
    border: 2px solid darken($backColor, 20%);

    // lifted from css tricks and altered to fit mixin: https://css-tricks.com/stripes-css/
    background: repeating-linear-gradient(
        45deg,
        $backColor,
        $backColor 10px,
        lighten($backColor, 20%) 10px,
        lighten($backColor, 20%) 20px
    );
}

// don't really like how this looks, but set it aside for now
@mixin button($foreground, $background, $fontSize, $radius, $width: initial){
    color: $foreground;
    background-color: $background;
    border: 1px solid $background;
    border-radius: $radius;
    font-size: $fontSize;
    font-weight: bold;
    outline: none;
    cursor: pointer;
    width: $width;

    &:hover {
        background-color: $foreground;
        color: $background;
    }
    &:active {
        background-color: darken($background, 80%);
        // color: $background;
    }
}