$hotpink: rgba(239, 0, 179, 1);
$black: rgba(30, 30, 30, 1);
$purple: rgba(19, 0, 76, 1);
$white: rgba(255, 245, 242, 1);
$green: #42b983;
$lightGreen: #C5FB45;
$blue: #00FCFE;
$yellow: #FEFD50;
$red: #ED1E24;
$lightRed: #FF403D;